{% extends "layout.html" %}
{% block title %}Add User{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    h1 { background-color: blue; }
  </style>
{% endblock %}
{% block content %}
  <h1>Add User</h1>
  <form action="/user" method="post">
    <label for="first_name">First Name</label>
    <input name="first_name" type="text" value"first_name">
    <label for="last_name">Last Name</label>
    <input name="last_name" type="text" value"last_name">
    <input name="submit" type="submit" value="submit">
  </form>
{% endblock %}
